---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/master/entries?content_type=subcategory&fields.slug=hardware
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.1; platform ruby/3.4.1; os macOS/24;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"7787070206043126912"'
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 4a036a1c-2a21-4671-9e34-9236228593f2
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":0,"skip":0,"limit":100,"items":[]}

        '
  recorded_at: Wed, 26 Mar 2025 12:12:00 GMT
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/master/entries?content_type=subcategory&fields.slug=software
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.1; platform ruby/3.4.1; os macOS/24;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"12629771858433990634"'
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - de7953b6-17dd-436e-a1b9-80cf9df79ca8
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":1,"skip":0,"limit":100,"items":[{"metadata":{"tags":[],"concepts":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"FAKE_SPACE_ID"}},"id":"4XBXnhG4fP7CB3nqY0pQKJ","type":"Entry","createdAt":"2025-02-12T12:19:16.172Z","updatedAt":"2025-03-18T07:39:45.709Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":7,"revision":3,"contentType":{"sys":{"type":"Link","linkType":"ContentType","id":"subcategory"}},"locale":"en-US"},"fields":{"title":"Software","slug":"software"}}]}

        '
  recorded_at: Thu, 27 Mar 2025 17:23:23 GMT
recorded_with: VCR 6.3.1
