---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/staging/entries?content_type=subcategory&fields.slug=software
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.18.0; platform ruby/3.4.1; os macOS/24;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"5548793939117868704"'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - c7c4efd8-92a2-42b5-8b7a-4223308d9a26
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":1,"skip":0,"limit":100,"items":[{"metadata":{"tags":[],"concepts":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"FAKE_SPACE_ID"}},"id":"4XBXnhG4fP7CB3nqY0pQKJ","type":"Entry","createdAt":"2025-02-12T12:19:16.172Z","updatedAt":"2025-03-18T07:39:45.709Z","environment":{"sys":{"id":"staging","type":"Link","linkType":"Environment"}},"publishedVersion":7,"revision":3,"contentType":{"sys":{"type":"Link","linkType":"ContentType","id":"subcategory"}},"locale":"en-US"},"fields":{"title":"Software","slug":"software"}}]}

        '
  recorded_at: Tue, 16 Sep 2025 08:48:15 GMT
recorded_with: VCR 6.3.1
