---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/master/entries?content_type=subcategory&fields.slug=hardware
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.1; platform ruby/3.4.1; os Linux;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"13135612906340769473"'
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      Contentful-Upstream:
      - default
      X-Contentful-Request-Id:
      - 67189ab2-9f6b-456e-9c0b-f958e5a4d4ad
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":1,"skip":0,"limit":100,"items":[{"metadata":{"tags":[],"concepts":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"FAKE_SPACE_ID"}},"id":"4lIuOnHIo4AlW26CcGViZE","type":"Entry","createdAt":"2025-02-10T11:51:32.106Z","updatedAt":"2025-02-12T12:41:27.999Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":8,"revision":2,"contentType":{"sys":{"type":"Link","linkType":"ContentType","id":"subcategory"}},"locale":"en-US"},"fields":{"title":"Hardware","description":"Monitors
        and keyboards","slug":"hardware"}}]}

        '
  recorded_at: Wed, 19 Feb 2025 17:44:05 GMT
recorded_with: VCR 6.3.1
