<header class="dfe-header" role="banner">
  <%= render "shared/dfe_logo_and_menu" %>

  <div class="dfe-width-container dfe-header__link--service govuk-!-margin-top-7">
    <section class="dfe-page-hero">
      <div class="dfe-width-container">
        <div class="dfe-grid-row">
          <div class="dfe-grid-column-two-thirds">
            <h1 class="dfe-heading-xl">
              Get help buying for schools
            </h1>
            <p class="dfe-body-l">
              A procurement hub to help you buy for your school,
              academy or trust:
              <ul class="dfe-body-l">
                <li>compliantly</li>
                <li>save time</li>
                <li>get value for money</li>
              </ul>
            </p>
            <%= render "shared/dfe_search" %>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="dfe-width-container dfe-header__service-name govuk-!-margin-top-4">
    <a href="/" class="dfe-header__link--service">View list of all DfE approved frameworks</a>
  </div>
</header>

