<div class="sidebar govuk-grid-column-one-third govuk-!-margin-top-7 govuk-!-margin-bottom-7">
  <h3> Related actions </h3>
  <p>
  <ul>
    <li><a href="\">Plan technology for your school</a></li>
    <li><a href="\">Read guidance on buying ICT</a></li>
    <li><a href="\">Read guidance on buying printing devices</a></li>
  </ul>
  </p>
  <h3> Catalogues </h3>
  <p>
  <ul>
    <li><a href="\">View Everything ICT catalogue</a></li>
  </ul>
  </p>
</div>