<div class="dfe-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        <%= ct("shared.dfe_beta_banner.beta") %>
      </strong>
      <span class="govuk-phase-banner__text">
        <%= ct("shared.dfe_beta_banner.banner_text_html",
              feedback: fabs_govuk_link_to(ct('shared.dfe_beta_banner.feedback'), customer_satisfaction_survey_url("banner_link"))) %>
      </span>
    </p>
  </div>
</div>