<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      <%= t(".beta") %>
    </strong>
    <span class="govuk-phase-banner__text">
      <%= t(".banner_text_html",
            feedback: link_to(t(".feedback"),
                            "/TODO",
                            class: "govuk-link",
                            target: "_blank",
                            rel: "noopener noreferrer")) %>
    </span>
  </p>
</div>
