<div class="dfe-width-container dfe-header__container">
  <div class="govuk-header__logo">
    <a class="govuk-header__link govuk-header__link--homepage" href="/" aria-label="DfE homepage">
      <%= image_tag 'dfe-frontend/dfe-logo.png', class: 'govuk-header__logotype', alt: 'Department for Education' %>
    </a>
  </div>
  <div class="dfe-header__content" id="content-header">
    <%= render "shared/dfe_narrow_search_box" if @show_search_in_header %>
  </div>
</div>
