<% if solution.provider_name.present? %>
  <p class="provider govuk-secondary-text-colour">
    <%= ct("shared.provider_and_expires.provider") %> <%= solution.provider_name %>
  </p>
<% end %>
<% if solution.expiry.present? %>
  <p class="expires govuk-secondary-text-colour">
    <%= ct("shared.provider_and_expires.expires") %> <%= format_date(solution.expiry) %>
  </p>
<% end %>