<h3> <%= t("shared.dfe_sidebar.related_actions") %> </h3>
<div>
<ul>
  <li><%= govuk_link_to "Plan technology for your school", root_path %></li>
  <li><%= govuk_link_to "Read guidance on buying ICT", root_path %></li>
  <li><%= govuk_link_to "Read guidance on buying printing devices", root_path %></li>
</ul>
</div>
