---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/master/entries?content_type=category&fields.slug=non-existent-slug&include=1&select=fields.title,fields.summary,fields.description,fields.slug,fields.solutions,sys
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.1; platform ruby/3.3.4; os macOS/21;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"9156391922049250725"'
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      Contentful-Upstream:
      - default
      X-Contentful-Request-Id:
      - bc1432ea-56ac-47dd-819a-87b22c5f9877
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":0,"skip":0,"limit":100,"items":[]}

        '
  recorded_at: Tue, 11 Feb 2025 16:48:18 GMT
recorded_with: VCR 6.3.1
