---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/master/entries?content_type=solution&query=nonexistent&select=fields.title,fields.summary,fields.description,fields.slug,fields.provider_name,fields.provider_initials,sys
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.1; platform ruby/3.4.1; os macOS/24;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"13397941486963817118"'
      X-Contentful-Upstream-Request-Time:
      - '0.065'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - 1191baa6-46ce-408d-b88a-eadaa89161f9
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":0,"skip":0,"limit":100,"items":[]}

        '
  recorded_at: Thu, 22 May 2025 10:23:29 GMT
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/master/entries?content_type=category&query=nonexistent&select=fields.title,fields.description,fields.slug,sys
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.1; platform ruby/3.4.1; os macOS/24;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"13397941486963817118"'
      X-Contentful-Upstream-Request-Time:
      - '0.049'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - 510d272e-4f86-44d6-9f93-e8249d070fde
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":0,"skip":0,"limit":100,"items":[]}

        '
  recorded_at: Thu, 22 May 2025 10:23:29 GMT
recorded_with: VCR 6.3.1
