---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/master/entries?content_type=category&fields.slug=non-existent-slug&select=fields.title,fields.description,fields.slug,fields.subcategories,sys
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.1; platform ruby/3.4.1; os macOS/24;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"2194105350430811168"'
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 127d0b3b-0ae6-49d9-b3ee-d5a5cbe3627b
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":0,"skip":0,"limit":100,"items":[]}

        '
  recorded_at: Wed, 19 Mar 2025 11:28:46 GMT
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/master/entries?content_type=category&fields.slug=non-existent-slug
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.1; platform ruby/3.4.1; os macOS/24;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"7787070206043126912"'
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 2f768377-5e7a-4897-a241-a5fea7a726a8
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":0,"skip":0,"limit":100,"items":[]}

        '
  recorded_at: Wed, 26 Mar 2025 12:21:55 GMT
recorded_with: VCR 6.3.1
