<% if @offers.present? %>
  <ul class="provider-expires chevron-card-list govuk-!-margin-top-9">
    <% @offers.each do |offer| %>
      <li class="chevron-card">
        <div class="chevron-card__wrapper">
          <p class="govuk-body-m  govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
            <%= govuk_link_to offer.title, offer.url, class: "govuk-link chevron-card__link" %>
          </p>
          <p class="description">
            <%= offer.description %>
          </p>
          <% if offer.expiry.present? %>
             <p class="expires govuk-body-s govuk-secondary-text-colour">
              <%= t(".expires_on") %> <%= format_date(offer.expiry) %>
            </p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
