
$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@use "../node_modules/govuk-frontend/dist/govuk/all" as govuk;
@use "../node_modules/dfe-frontend/packages/dfefrontend" as dfefrontend;

.dfe-page-hero {
  color: #fff;
}

.govuk-footer__copyright-logo {
  background-image: url("govuk-frontend/govuk-crest.svg");
}

.beta-banner {
  background-color: #f6f6f6;
  padding: 10px;
}

.beta {
  color: #fff;
  background-color: #347CA9;
  padding: 0px 5px;
}

.page-header {
  background-color: #f6f6f6;
}

.blue-line {
  border-top: 4px solid #1d70b8; /* GOV.UK blue */
  width: 80px; /* Adjust width */
}