<% content_for :content do %>
  <div class="dfe-width-container govuk-!-margin-top-4">
    <h2 class="govuk-heading"><%= t(".title") %></h2>
    <p><%= t(".standfirst") %></p>
    <div class="dfe-grid-container">
      <% @categories.each do |category| %>
        <%= render "category", category: category %>
      <% end %>
    </div>
  </div>
<% end %>
