<div class="dfe-width-container govuk-!-margin-top-4">
  <h2 class="govuk-heading"><%= t(".title") %></h2>
  <p><%= t(".standfirst") %></p>
  <div class="dfe-grid-container">
    <% @categories.each do |category| %>
      <%= render "category", category: category %>
    <% end %>
    <p>
      <%= govuk_link_to t(".procurement_support"), "https://www.get-help-buying-for-schools.service.gov.uk/procurement-support", target: "_blank", class: "govuk-!-font-weight-bold" %>
    </p>
  </div>
</div>
