<%= govuk_back_link(href: category_path(@category)) %>

<div class="dfe-page-header">
  <h1><%= @solution.title %></h1>
  <p>
    <%= @solution.description %>
  </p>
</div>

<h2>Buying options</h2>

<%=  render_markdown_to_html(@solution.summary) %>

