---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/FAKE_SPACE_ID/environments/master/entries?content_type=page&fields.slug=cookies
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.1; platform ruby/3.4.1; os macOS/24;
      Authorization:
      - Bearer FAKE_API_KEY
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Etag:
      - '"11631204974421023946"'
      X-Contentful-Upstream-Request-Time:
      - '0.659'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - 6e7bbdb7-912a-477a-8d5e-fb7aedd64c7d
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":1,"skip":0,"limit":100,"items":[{"metadata":{"tags":[],"concepts":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"FAKE_SPACE_ID"}},"id":"6GTvAlPHGV8qnpD7pD3vhm","type":"Entry","createdAt":"2025-03-12T10:52:59.212Z","updatedAt":"2025-03-21T13:10:28.163Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":19,"revision":5,"contentType":{"sys":{"type":"Link","linkType":"ContentType","id":"page"}},"locale":"en-US"},"fields":{"title":"Cookies","description":"
        Cookies are small files saved on your phone, tablet or computer when you visit
        a website.","body":"We use an essential cookie to keep your data secure while
        you use DfE Find a Buying Solution.\n\nWe do not need to ask permission to
        use essential cookies.","slug":"cookies"}}]}

        '
  recorded_at: Tue, 22 Apr 2025 17:10:05 GMT
recorded_with: VCR 6.3.1
